[Unit]
Description=DHT22 Rest API Service for Raspberry Pi
After=network.target

[Service]
Type=simple
User=%i
ExecStart=/home/pi/raspberry-pi-dht22-rest-api/flask/bin/python /home/pi/raspberry-pi-dht22-rest-api/app.py -H 0.0.0.0 -G 4 -N "Room Name"

[Install]
WantedBy=multi-user.target
